@media (max-width:499px) {
    .content{
        padding: 2%;
    }

    .header {
        padding-right: 5%;
        padding-left: 5%;
        position: fixed;
    }
  
    #videos {
       padding: 0px ;
    }

    .header__list {
        display: block;
        top: -100%;
        left: 0;
        width: 100%;
        height: 200px;
        background-color:black;
        position: fixed;
        z-index: 2;
        transition: 0.3s;
    }

    .header__list.showMenu {
        top: 95px;
    }

    .header__list li {
        padding: 10px 15px;
        border: none;
    }

    .header__list>li:last-child {
        padding: 10px 15px;
    }

    .header__list_videos:hover>a{
        color:#999999;
        opacity: 1;
    }

    .header__list>li:hover {
        border: none;
    }

    .header__list img {
        display: none;
    }

    .header__list_videos:hover .header__sublist {
        display: none;
    }

    .header__list li:hover {
        background-color:#4d4d4d;
        cursor: pointer;
    }

    .header__burger {
        width: 33px;
        height: 27px;
        position: relative;
        display: block;
        cursor: pointer;
    }

    .header__burger:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        top: 0;
    }

    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;
    }

    .header__burger span {
        content: '';
        background-color:#fff;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        top: 11px;
    }

    .header__conteiner {
        margin: 0 auto;
        align-items: center;
    }

    .header__logo {
        padding: auto;
    }

    .header__sign {
        display: none;
    }

    .search-box {
        margin-bottom: 0;
        height: 27px;
        margin-right: 30px;
        margin-left: 0;
    }

    .search-btn img {
        height: 27px;
    }

    .search__sign {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
        
    #grid {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
        
    .videos__trailer_img  {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }

    .nav__footer{
        display: none;
    }

    .footer__text {
        margin: 0 auto;
    }

    .content {
        padding-top: 100px;
    }
}

@media ( max-width: 767px)  {
    @media (min-width: 500px){
    .home {
        display: none;
    }

    .conteiner {
        margin: 0 auto;
    }

    .header {
        padding-left: 4%;
        padding-right: 4%;
    }

    .header__list li {
        padding: 27px 10px;
    }

    .content {
        padding: 4%;
    }

    .videos__trailer_img {
        background-position: center;
    }
    
    .search-box {
        margin-left: 10px;
    }

    .search-box:hover > .search-txt {
        width: 60px;
        padding: 0 3px;
        }

     #grid {
            grid-template: repeat(3, 1fr)/repeat(2, 1fr);
        }

        .nav__footer {
            min-width: 50%;
        }
        
        #footer {
            padding: 0 2%;
            width: 100%;
            font-size: 16px;
        }
    }    
}