*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}


button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*----------------------heder-----------------------------*/
body {
    background-color:#f3f3f3;
    font-family: Roboto;   
}

.wrapper {
    max-width: 1920px;
}

.header {
   padding: 20px 10%;
   background-color: black;
   z-index: 1;
   padding-bottom: 0;
   width: 100%;
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
    max-width: 1266px;
    align-items: flex-end;
    height: 75px;
}

.conteiner {
    max-width: 1266px;
}

.header__logo {
    border-radius: 50%;
    background-color: aliceblue;
    height: 55px;
    width: 60px;
    margin-bottom: 20px;
}

.header__menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.header__list {
    display: flex;
    align-items: flex-end;
}

.header__list>li {
    padding: 27px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.header__list>li:last-child {
    padding-right: 0;
    padding-left: 0;
}

.header__list img {
    margin-top: 4px;
    margin-left: 11px;
}

.header__link {
    font-size: 14px;
    text-transform: uppercase;
    color:#fff;
    opacity: 0.5;
}

input[type="text"]::placeholder {
    color: #fff;
}

.header li {
    position: relative;
}

.header__list>li:hover {
    border-bottom-color: rgb(34, 103, 230);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.header__sublist a {
    color: black;
    opacity: 0.5;
}

.header__list_videos:hover .header__sublist {
    display: block;
}

.header__list_videos:hover .header__arrow {
    transform: rotate(180deg);
    transform-origin: center center;
    transition: 0.8s;
}

.header__list_videos:hover {
    background-color: #fff;
    border-bottom: none;
}

.header__list_videos:hover>a{
    color: black;
    opacity: 1;
}

.header__sublist {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: start;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

.header__sublist li {
    padding: 10px 20px;
}

.header__sublist li:hover {
    background-color:#e6e3e3e8 ;
    cursor: pointer;
}

.search__sign {
    display: flex;
}
.header__sign  {
    display: flex;
    font-size: 14px;
    margin-right: 0;
}

.header__sign a {
    color: #fff;
}

.search-box {
    position: relative;
    height: 30px;
    padding: 0;
    margin-bottom: 17px;
    margin-left: 15px;
}

.search-box:hover > .search-txt {
    width: 80px;
    padding: 0 3px;
   
}
 
.search-btn {
    float: right;
    transition: 0.4s;
    cursor: pointer;
    text-decoration:none;
}
 
 .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    width: 0px;
    font-weight: bold;
}
.header__burger {
  display: none ;
}

.videos {
    padding: 40px 0 30px;
}

.videos__container {
    margin: 0 auto;
    max-width: 1266px;
}

.videos__trailer {
    position: relative;
    background-color:#fff;
    margin-bottom: 30px;
}

.videos__trailer_img {
    width: 100%;
    height: 672px;
    background-image: url(../img/Layer_1.png);
    background-size: cover;
}

.videos__trailer_btn {
    position: absolute;
    right: 20px;
    margin-top: -34px;
    border-radius: 50px;
    cursor: pointer;
}

.videos__trailer_btn:hover {
    background-color: #2196f3;
}

.videos__trailer_text {
    padding: 25px;
}

.videos__trailer_text h2 {
    font-size: 36px;
    margin-bottom: 0;
}

.videos__trailer_text p {
    font-size:20px ;
    padding-top: 25px;
}

.videos__playlist {
    padding-bottom: 50px;
}

.videos__playlist_items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.videos__playlist_item {
    background-color: #fff;
    padding-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color:#e6e3e3e8;
    border-radius: 5px;
    cursor: pointer;
}

.videos__image img  {
    width: 100%;
}

.videos__playlist h3 {
    font-size: 18px;
    margin: 30px 0 10px 30px;
}

.videos__playlist span {
    margin-left: 30px;
    color: #4d4d4d;
}

.videos__playlist_item:hover {
    transform: scale(1.05);
    transition: 300ms;
}

.articles {
   display: none;
    padding: 40px 0 30px;
    padding-bottom: 0;
}

.articles__conteiner {
    margin: 0 auto;
    max-width: 1266px;
}

.articles__content {
    margin: 0 auto 30px;
    max-width: 780px;
    background-color: #fff;
    padding-bottom: 20px;
}

.content__tittle {
    display: flex;
    justify-content: flex-start;
}

.content__tittle_avatar {
    margin: 20px 20px 10px 20px;
}

.content__tittle_subtitle {
    margin-top: 20px;
}

.content__tittle_subtitle h3 {
    margin-bottom: 5px;
}

.content__image img {
    width: 100%;
}

.content__image {
    margin-bottom: 20px;
}

.content__text {
    margin: 0 30px ;
}

.content__text h2 {
    font-size: 36px;
    font-weight: 500;
}

.content__text p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.content__button {
   margin-left: 20px;
   height: 30px;
   width: 80px;
}

.btn-more {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #067ad7;
    color: #fff;
    font-weight: 400;
}

.pagination {
    display: flex;
    justify-content: space-between;
    background-color: #2196f3;
    width: 100%;
    height: 96px;
    align-items: center;
    padding: 0 10%;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    display: none ;
}

.previous img {
    margin-right: 15px;
    cursor: pointer;
}

.next img {
    margin-left: 15px;
    cursor: pointer;
}

.pagination span {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    background-color: #fff;
    color: #999999;
    font-weight: bold;
    font-size: 18px;
    height: 90px;
}

.nav__footer  ul {
    display: flex;
    justify-content: space-between;
}

.nav__footer {
    width: 45%;
}

.nav__footer a {
    font-weight: bold;
    text-decoration: none;
    color: #999999;
}

.border-co {
    border-color: #f3f3f3;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}